

<div id="comment">

<span class="image-commenter"><%= comment.commenter %></span><span class="wrote"> schrieb:</span>
<p class="image-comment-body"><%= comment.body %></p>
<span class="image-comment-date">Kommentiert am <%= comment.created_at.strftime("%d %b %Y um %H:%M") %></span>
</div>

