// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog {
}

#blog a {
	color:black;
	text-decoration:none;
}

#blog a:hover {
	text-decoration:underline;
}

#category-image {
	text-align:center;
}

#category-image img {
	border:3px solid transparent;
}

#category-image img:hover {
	border:3px solid lightgrey;
}

p.category-name {
	font-size: 16pt;
	text-decoration: none;
}


#category-image-overview {
	width:800px; 
	margin-bottom:30px;
}

#category-image-overview a img{
	border:none;
}

#image-meta {
	font-size:12pt;
	width:800px;
}

span.image-title {
	font-size:18pt;
	margin-bottom:8px;
}

span.image-date {
	float:right;
	font-size:18pt;
	margin-bottom:8px;
}