

<div id="comment">

<span class="image-commenter"><%= imagecomment.commenter %></span><span class="wrote"> schrieb:</span>
<p class="image-comment-body"><%= imagecomment.body %></p>
<span class="image-comment-date">Kommentiert am <%= imagecomment.created_at.strftime("%d %b %Y um %H:%M") %></span>
</div>

